{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cassette/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'cassette/css/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'cassette/css/main.css' %}">
    <link rel="icon" href="{% static 'cassette/favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'cassette/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'cassette/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'cassette/js/jquery.cookie.min.js' %}"></script>
    <script src="{% static 'cassette/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'cassette/js/particles.min.js' %}"></script>
    <script src="{% static 'cassette/js/toastr.min.js' %}"></script>
    <script src="{% static 'cassette/js/howler.min.js' %}"></script>


    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block container %}{% endblock %}

    <script src="{% static 'cassette/js/app.js' %}"></script>
    <script src="{% static 'cassette/js/effects.js' %}"></script>
</body>

</html>
